html
  head
    title 豆瓣
    link(rel="stylesheet" href="css/common.css")
    link(rel="stylesheet" href="css/bundle.css")
  body
    #bookApp
    script#bookAppData(type="plain/text")!= bookAppData
    script(src="js/common.js")
    script(src="js/bundle.js")